<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.query.mapper.CodeQueryMapper" >
	<select id="getTypeList" resultType="com.manage.dao.model.Code">
		select typecode,typename from t_code where typeCode is not null and typeName is not null group by typeCode,typeName 
	</select>

</mapper>