<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.query.mapper.MenuQueryMapper" >
	
	<select id="selectMenuQuery" parameterType="com.manage.query.model.MenuQuery" resultType="com.manage.query.model.MenuQuery">
		select m.*,pm.name parentName from menus m left join menus pm on m.pid=pm.id where 1=1
		<if test="name != null and name != ''">
			and m.name like CONCAT(CONCAT('%', #{name}), '%')
		</if>
		<if test="orderby !=null  and orderby != '' ">
			order by ${orderby }
		</if>
		<if test="pager !=null  and pager != '' ">
			limit #{pager.begin},#{pager.rows}
		</if>
	</select>
	
	<select id="countByMenuQuery" parameterType="com.manage.query.model.MenuQuery" resultType="java.lang.Integer">
		select count(m.id) parentName from menus m left join menus pm on m.pid=pm.id where 1=1
		<if test="name != null and name != ''">
			and m.name like CONCAT(CONCAT('%', #{name}), '%')
		</if>
	</select>
	
	<select id="selectMenuPermission" parameterType="com.manage.query.model.MenuQuery" resultType="com.manage.query.model.MenuQuery">
		select distinct m.* from rolemenus rm
		left join menus m on rm.menuid=m.id
		left join userroles ur on ur.roleid=rm.roleid where m.status='0'
		<if test="userid != null and userid !='' ">
			and ur.userid = #{userid}
		</if>
		order by m.sortby asc
	</select>
</mapper>