<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.query.mapper.OrderQueryMapper" >
	
	<select id="selectOrderQueryById" resultType="com.manage.query.model.OrderQuery">
		select o.*,m.nickname membernickname,u.name as modifyUserName from t_order o
		left join t_member m on m.id=o.memberid
		left join users u on u.id=o.modifyUser
		where o.id=#{id}
	</select>
	
	<select id="selectOrderQueryByCode" resultType="com.manage.query.model.OrderQuery">
		select o.*,m.nickname membernickname,u.name as modifyUserName from t_order o
		left join t_member m on m.id=o.memberid
		left join users u on u.id=o.modifyUser
		where o.code=#{code}
	</select>
	
	<select id="selectByOrderQuery" parameterType="com.manage.query.model.OrderQuery" resultType="com.manage.query.model.OrderQuery">
		select distinct o.*,(select sum(od2.amount) from t_order_detail od2 where od2.orderid=o.id) amount,m.nickname membernickname,u.name as modifyUserName,ls.gradename memberlevel from t_order o
		left join t_member m on m.id=o.memberid
		left join users u on u.id=o.modifyUser
		left join t_order_detail od on od.orderid=o.id
		left join t_goods_detail gd on gd.id=od.goodsDetailId
		left join t_goods g on g.id=gd.goodsid
		left join t_level_setting ls on ls.levelstart &lt;= cast(m.totalmoney as UNSIGNED) and ls.levelend &gt;= cast(m.totalmoney as UNSIGNED)
		<where>
			<if test="code != null and code != ''">
				and o.code like '%${code}%'
			</if>
			<if test="type != null and type != ''">
				and o.type=#{type}
			</if>
			<if test="memberid != null and memberid != ''">
				and o.memberid=#{memberid}
			</if>
			<if test="ispay != null and ispay != ''">
				and o.ispay=#{ispay}
			</if>
			<if test="issend != null and issend != ''">
				and o.issend=#{issend}
			</if>
			<if test="isreceive != null and isreceive != ''">
				and o.isreceive=#{isreceive}
			</if>
			<if test="delway != null and delway != ''">
				and o.delway=#{delway}
			</if>
			<if test="payway != null and payway != ''">
				and o.payway=#{payway}
			</if>
			<if test="status != null and status != ''">
				and o.status=#{status}
			</if>
			<if test="ordertimestart != null and ordertimestart != ''">
				and o.ordertime &gt;= #{ordertimestart}
			</if>
			<if test="ordertimeend != null and ordertimeend != ''">
				and o.ordertime &lt;= #{ordertimeend}
			</if>
			<if test="goodsName != null and goodsName != ''">
				and g.name like '%${goodsName}%'
			</if>
			<if test="brandid != null and brandid != ''">
				and g.brandid=#{brandid}
			</if>
			<if test="goodsid != null and goodsid != ''">
				and g.id=#{goodsid}
			</if>
		</where>
		<if test="orderBy !=null  and orderBy != '' ">
			order by ${orderBy}
		</if>
		<if test="pager !=null  and pager != '' ">
			limit #{pager.begin},#{pager.rows}
		</if>
	</select>
	
	<select id="countByOrderQuery" parameterType="com.manage.query.model.OrderQuery" resultType="java.lang.Integer">
		select count(distinct o.id) from t_order o
		left join t_order_detail od on od.orderid=o.id
		left join t_goods_detail gd on gd.id=od.goodsDetailId
		left join t_goods g on g.id=gd.goodsid
		<where>
			<if test="code != null and code != ''">
				and o.code like '%${code}%'
			</if>
			<if test="type != null and type != ''">
				and o.type=#{type}
			</if>
			<if test="memberid != null and memberid != ''">
				and o.memberid=#{memberid}
			</if>
			<if test="ispay != null and ispay != ''">
				and o.ispay=#{ispay}
			</if>
			<if test="issend != null and issend != ''">
				and o.issend=#{issend}
			</if>
			<if test="isreceive != null and isreceive != ''">
				and o.isreceive=#{isreceive}
			</if>
			<if test="delway != null and delway != ''">
				and o.delway=#{delway}
			</if>
			<if test="payway != null and payway != ''">
				and o.payway=#{payway}
			</if>
			<if test="status != null and status != ''">
				and o.status=#{status}
			</if>
			<if test="ordertimestart != null and ordertimestart != ''">
				and o.ordertime &gt;= #{ordertimestart}
			</if>
			<if test="ordertimeend != null and ordertimeend != ''">
				and o.ordertime &lt;= #{ordertimeend}
			</if>
			<if test="goodsName != null and goodsName != ''">
				and g.name like '%${goodsName}%'
			</if>
			<if test="brandid != null and brandid != ''">
				and g.brandid=#{brandid}
			</if>
			<if test="goodsid != null and goodsid != ''">
				and g.id=#{goodsid}
			</if>
		</where>
	</select>
	
	<select id="selectByOrderQuery2" parameterType="com.manage.query.model.OrderQuery" resultType="com.manage.query.model.OrderQuery">
		select distinct o.*,(select sum(od2.amount) from t_order_detail od2 where od2.orderid=o.id) amount,m.nickname membernickname,u.name as modifyUserName,ls.gradename memberlevel from t_order2 o
		left join t_member m on m.id=o.memberid
		left join users u on u.id=o.modifyUser
		left join t_order_detail od on od.orderid=o.id
		left join t_goods_detail gd on gd.id=od.goodsDetailId
		left join t_goods g on g.id=gd.goodsid
		left join t_level_setting ls on ls.levelstart &lt;= cast(m.totalmoney as UNSIGNED) and ls.levelend &gt;= cast(m.totalmoney as UNSIGNED)
		<where>
			<if test="code != null and code != ''">
				and o.code like '%${code}%'
			</if>
			<if test="type != null and type != ''">
				and o.type=#{type}
			</if>
			<if test="memberid != null and memberid != ''">
				and o.memberid=#{memberid}
			</if>
			<if test="ispay != null and ispay != ''">
				and o.ispay=#{ispay}
			</if>
			<if test="issend != null and issend != ''">
				and o.issend=#{issend}
			</if>
			<if test="isreceive != null and isreceive != ''">
				and o.isreceive=#{isreceive}
			</if>
			<if test="delway != null and delway != ''">
				and o.delway=#{delway}
			</if>
			<if test="payway != null and payway != ''">
				and o.payway=#{payway}
			</if>
			<if test="status != null and status != ''">
				and o.status=#{status}
			</if>
			<if test="ordertimestart != null and ordertimestart != ''">
				and o.ordertime &gt;= #{ordertimestart}
			</if>
			<if test="ordertimeend != null and ordertimeend != ''">
				and o.ordertime &lt;= #{ordertimeend}
			</if>
			<if test="goodsName != null and goodsName != ''">
				and g.name like '%${goodsName}%'
			</if>
			<if test="brandid != null and brandid != ''">
				and g.brandid=#{brandid}
			</if>
			<if test="goodsid != null and goodsid != ''">
				and g.id=#{goodsid}
			</if>
		</where>
		<if test="orderBy !=null  and orderBy != '' ">
			order by ${orderBy}
		</if>
		<if test="pager !=null  and pager != '' ">
			limit #{pager.begin},#{pager.rows}
		</if>
	</select>
	
	<select id="countByOrderQuery2" parameterType="com.manage.query.model.OrderQuery" resultType="java.lang.Integer">
		select count(distinct o.id) from t_order2 o
		left join t_order_detail od on od.orderid=o.id
		left join t_goods_detail gd on gd.id=od.goodsDetailId
		left join t_goods g on g.id=gd.goodsid
		<where>
			<if test="code != null and code != ''">
				and o.code like '%${code}%'
			</if>
			<if test="type != null and type != ''">
				and o.type=#{type}
			</if>
			<if test="memberid != null and memberid != ''">
				and o.memberid=#{memberid}
			</if>
			<if test="ispay != null and ispay != ''">
				and o.ispay=#{ispay}
			</if>
			<if test="issend != null and issend != ''">
				and o.issend=#{issend}
			</if>
			<if test="isreceive != null and isreceive != ''">
				and o.isreceive=#{isreceive}
			</if>
			<if test="delway != null and delway != ''">
				and o.delway=#{delway}
			</if>
			<if test="payway != null and payway != ''">
				and o.payway=#{payway}
			</if>
			<if test="status != null and status != ''">
				and o.status=#{status}
			</if>
			<if test="ordertimestart != null and ordertimestart != ''">
				and o.ordertime &gt;= #{ordertimestart}
			</if>
			<if test="ordertimeend != null and ordertimeend != ''">
				and o.ordertime &lt;= #{ordertimeend}
			</if>
			<if test="goodsName != null and goodsName != ''">
				and g.name like '%${goodsName}%'
			</if>
			<if test="brandid != null and brandid != ''">
				and g.brandid=#{brandid}
			</if>
			<if test="goodsid != null and goodsid != ''">
				and g.id=#{goodsid}
			</if>
		</where>
	</select>
	
	<select id="sumOrder" parameterType="com.manage.query.model.OrderQuery" resultType="java.util.Map">
		select count(1) ordercount,sum(o.oldprice) oldpricesum,sum(o.totalprice) totalpricesum,sum(o.integralPrice) integralPricesum,count(distinct o.memberId) membercount from t_order o
		where o.status='0' and  o.ispay='1'
		<if test="code != null and code != ''">
			and o.code like '%${code}%'
		</if>
		<if test="type != null and type != ''">
			and o.type=#{type}
		</if>
		<if test="memberid != null and memberid != ''">
			and o.memberid=#{memberid}
		</if>
		<if test="ispay != null and ispay != ''">
			and o.ispay=#{ispay}
		</if>
		<if test="issend != null and issend != ''">
			and o.issend=#{issend}
		</if>
		<if test="isreceive != null and isreceive != ''">
			and o.isreceive=#{isreceive}
		</if>
		<if test="delway != null and delway != ''">
			and o.delway=#{delway}
		</if>
		<if test="payway != null and payway != ''">
			and o.payway=#{payway}
		</if>
		<if test="ordertimestart != null and ordertimestart != ''">
			and o.ordertime &gt;= #{ordertimestart}
		</if>
		<if test="ordertimeend != null and ordertimeend != ''">
			and o.ordertime &lt;= #{ordertimeend}
		</if>
	</select>
	
	<select id="sumByOldOrNew" resultType="java.util.Map">
		select year(o.payTime)y,month(o.payTime)m,count(1)totalcount,sum(case when m.oldornew='2' then 1 else 0 end)oldcount from t_order o 
		left join t_member m on m.id=o.memberid
		where o.status=0 and o.ispay=1 
		<if test="year != null and year != ''">
			and year(o.payTime)=#{year}
		</if>
		group by year(o.payTime),month(o.payTime) order by month(o.payTime) asc
	</select>
	
	<select id="sumBrand" resultType="java.util.Map">
		select b.name brandname,sum(od.totalPrice)totalprice,sum(od.totalPrice-od.costPrice*od.amount)totalprofit from t_order o 
		left join t_order_detail od on o.id=od.orderid
		left join t_goods_detail gd on od.goodsDetailId=gd.id
		left join t_goods g on g.id=gd.goodsid
		left join t_brand b on b.id=g.brandid
		where o.status=0 and o.ispay=1
		<if test="startTime != null and startTime != ''">
			and date_format(o.paytime,'%Y-%m-%d') &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and date_format(o.paytime,'%Y-%m-%d') &lt;= #{endTime}
		</if>
		<if test="brandid != null and brandid != ''">
			and b.id=#{brandid}
		</if>
		group by b.id
	</select>
	
	<select id="sumColor" resultType="java.util.Map">
		select s.specValue colorname,sum(od.totalPrice)totalprice,sum(od.totalPrice-od.costPrice*od.amount)totalprofit from t_order o 
		left join t_order_detail od on o.id=od.orderid
		left join t_goods_detail gd on od.goodsDetailId=gd.id
		left join t_goods g on g.id=gd.goodsid
		left join t_spec s on od.colorId=s.id
		where o.status=0 and o.ispay=1 
		<if test="startTime != null and startTime != ''">
			and date_format(o.paytime,'%Y-%m-%d') &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and date_format(o.paytime,'%Y-%m-%d') &lt;= #{endTime}
		</if>
		<if test="brandid != null and brandid != ''">
			and g.brandid=#{brandid}
		</if>
		group by s.id
	</select>
	
	<select id="sumSize" resultType="java.util.Map">
		select s.specValue sizeName,sum(od.totalPrice)totalprice,sum(od.totalPrice-od.costPrice*od.amount)totalprofit from t_order o 
		left join t_order_detail od on o.id=od.orderid
		left join t_goods_detail gd on od.goodsDetailId=gd.id
		left join t_goods g on g.id=gd.goodsid
		left join t_spec s on od.sizeId=s.id
		where o.status=0 and o.ispay=1 
		<if test="startTime != null and startTime != ''">
			and date_format(o.paytime,'%Y-%m-%d') &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and date_format(o.paytime,'%Y-%m-%d') &lt;= #{endTime}
		</if>
		<if test="brandid != null and brandid != ''">
			and g.brandid=#{brandid}
		</if>
		group by s.id
	</select>
	
	<select id="sumStyle" resultType="java.util.Map">
		select s.name styleName,sum(od.totalPrice)totalprice,sum(od.totalPrice-od.costPrice*od.amount)totalprofit from t_order o 
		left join t_order_detail od on o.id=od.orderid
		left join t_goods_detail gd on od.goodsDetailId=gd.id
		left join t_goods g on g.id=gd.goodsid
		left join t_style s on g.styleTypeid=s.id
		where o.status=0 and o.ispay=1 
		<if test="startTime != null and startTime != ''">
			and date_format(o.paytime,'%Y-%m-%d') &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and date_format(o.paytime,'%Y-%m-%d') &lt;= #{endTime}
		</if>
		<if test="brandid != null and brandid != ''">
			and g.brandid=#{brandid}
		</if>
		group by s.id
	</select>
</mapper>